/* Анимация затемнения фона */
@keyframes fadeIn {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Анимация исчезновения фона */
@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.5);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* Анимация появления окна */
@keyframes slideDown {
    from {
        top: -100vh;
    }
    to {
        top: 50%;
    }
}

/* Анимация закрытия окна */
@keyframes slideUp {
    from {
        top: 50%;
    }
    to {
        top: -100vh;
    }
}

/* Анимация фона интро && кнопок */
@keyframes granimate {
    0%, 100% { background-position: 0 25%; }
    25%, 75% { background-position: 50% 50%; }
    50% { background-position: 100% 100%; }
}