/* Menu-Toggle */
.menu-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-toggle span {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-toggle.open span:nth-child(1) {
    transform: translateY(8.26px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: translateY(-8.26px) rotate(-45deg);
}

@media (max-width: 1200px) {
    .section_title {
        font-size: clamp(20px, 4vw, 35px);
        margin-bottom: 30px;
        text-align: center;
    }

    .section_subtitle {
        font-size: clamp(18px, 3vw, 30px);
        margin-bottom: 30px;
        text-align: center;
    }
    
    .calendar_container {
        margin-bottom: 30px;
    }

    .new_title_section {
        font-size: clamp(20px, 4vw, 35px);
        text-align: center;
    }

    .new_data_section {
        text-align: center;
    }

    .inner_section, .gray {
        align-items: center;
    }

    .inner_section.gray {
        flex-direction: column;
    }

    .new_data_section {
        margin-bottom: 30px;
    }

    .new_section {
        flex-direction: column-reverse;
    }

    .section_item {
        text-align: center;
        margin: 0 auto;
    }

    .documents_links {
        margin-top: 10px;
    }

    .section_item a {
        font-size: clamp(16px, 2vw, 18px);
    }

    .selection_container {
        width: 100%;
    }

    .search_container {
        margin-bottom: 30px;
    }
}

@media (max-width: 1180px) {
    .modal-content {
        width: 60%;
    }

    .new_item {
        flex: 1 1 calc(50% - 30px); 
    }
    
    .footer_item {
        flex: 1 1 100%; 
    }

    .footer_images {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .modal-content {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .modal-content {
        width: 100%;
        border-radius: 0;
    }

    .nav {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        z-index: 100;
    }

    .nav.open {
        max-height: 300px;
        opacity: 1;
    }

    .nav_item {
        width: 100%;
        text-align: left;
    }

    .nav_item.logo {
        display: none;
    }

    .logo-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left; 
        margin: 0;
        padding: 0 15px;
        cursor: pointer;
    }

    .logo-toggle img {
        height: clamp(40px, 5vw, 52px);
    }

    .nav_item:last-child {
        border-bottom: none;
    }

    .new_item {
        flex: 1 1 100%; 
        margin: 0 auto;
        text-align: center;
    }

    .new_image {
        width: 100%; 
        height: auto;
    }

    .card_person {
        width: 100%;
        padding: 75px 60px 60px;
        margin-top: 75px;
    }

    .circle-person {
        width: 150px;
        height: 150px;
        font-size: 50px;
        top: -75px;
    }
}

@media (max-width: 400px) {
    .modal-content {
        padding: 10px;
    }

    .close,
    .authorization–°lose {
        top: 10px;
        right: 10px;
    }

    .card {
        width: 100%;
    }

    .card_person {
        width: 100%;
        padding: 75px 30px 30px;
        margin-top: 75px;
    }

    .circle-person {
        width: 150px;
        height: 150px;
        font-size: 50px;
        top: -75px;
    }

    .section img {
        width: 100%;
        height: auto;
    }

    .selection-block {
        flex-direction: column;
    }

    .category-container .category-image {
        width: 60px;
        height: 60px;
    }

    .category-container select {
        height: 60px;
        padding: 8px 18px 8px 90px;
    }
}