/* @font-face {
    font-family: 'ProbaPro';
    src: url('fonts/ProbaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'ZillaSlab';
    src: url('fonts/ZillaSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'ZillaSlab';
    src: url('fonts/ZillaSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Zilla Slab", serif;
    /* font-family: 'ProbaPro', sans-serif; */
    color: #000;
    font-size: clamp(16px, 2.5vw, 18px);
    letter-spacing: 0.02em;
    /* letter-spacing: 0.1em; */
}

img {
    border-radius: 10px;
    display: block;
    object-fit: cover;
}

button {
    border: none;
    font-family: "Zilla Slab", serif;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */
.header {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
	right: 0;
	z-index: 1000;
}

.header-short {
    width: 100%;
    padding: 20px 0;
    position: relative;
}

/* Logo */
.logo img {
    height: clamp(40px, 5vw, 52px);
}

/* MENU-TOGGLE */
.logo-toggle {
    display: none;
}

/* NAV */
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.nav_item {
    width: clamp(70px, 8vw, 100px);
    text-align: center;
    margin: 0 20px;
    cursor: pointer;
    font-size: clamp(16px, 2vw, 18px);
    color: #000;
    text-decoration: none;
}

.nav_item img {
    margin: 0 auto;
}

.nav_item:hover,
.logout:hover {
    text-decoration: underline;
}

.nav_item.active {
    text-decoration: underline;
}

/* MODAL */
.modal {
    display: none; 
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease forwards;
}

.modal-content {
    position: relative;
    margin: auto;
    transform: translateY(-50%);
    top: -50%;
    width: 40%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    animation: slideDown 0.5s ease forwards;
}

.modal.hide {
    animation: fadeOut 0.5s ease forwards;
}

.modal.hide .modal-content {
    animation: slideUp 0.5s ease forwards;
}

.modal_title {
    font-size: clamp(28px, 3vw, 32px);
    font-weight: 700;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close,
.authorization–°lose {
    font-size: clamp(18px, 2.5vw, 22px);
    cursor: pointer;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #EFF2F4;
    border-radius: 10px;
}

.password {
    border: 2px solid #FFA965;
    
}

.modal-content .btn {
    border: none;
    align-self: baseline;
}

.modal_item {
    margin-top: 30px;
    cursor: pointer;
}

.modal_item:hover {
    text-decoration: underline;
}

.demo-login-links {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.demo-btn {
    color: #FF7507;
    text-decoration: none;
    cursor: pointer;
}

.demo-btn:hover {
    text-decoration: underline;
}

/* INTRO */
.intro {
    display: flex;
	flex-direction: column;
	justify-content: center;
    width: 100%;
	height: 100vh;
    background: linear-gradient(217deg, rgba(255, 211, 7, 0.8), rgba(255, 211, 7, 0) 50.71%),
                linear-gradient(127deg, rgba(24, 77, 189, 0.8), rgba(24, 77, 189, 0) 70.71%),
                linear-gradient(336deg, rgba(251, 115, 7, 0.8), rgba(251, 115, 7, 0) 70.71%);
    background-size: 150vw 150vh;
    animation: 15s linear 0s infinite alternate none running granimate;
    text-align: center;
    min-height: 720px;
}

.intro-short {
    width: 100%;
	height: 390px;
    background: linear-gradient(217deg, rgba(255, 211, 7, 0.8), rgba(255, 211, 7, 0) 50.71%),
                linear-gradient(127deg, rgba(24, 77, 189, 0.8), rgba(24, 77, 189, 0) 70.71%),
                linear-gradient(336deg, rgba(251, 115, 7, 0.8), rgba(251, 115, 7, 0) 70.71%);
    background-size: 150vw 150vh;
    animation: 15s linear 0s infinite alternate none running granimate;
    padding: 115px 0 35px;
    position: relative;
    display: inherit;
}

.inner_intro {
    font-weight: 700;
}

.intro_suptitle {
    font-size: clamp(20px, 2.5vw, 35px);
}

.intro_title {
    font-size: clamp(30px, 4.5vw, 60px);
    margin: 30px 0;
}

.btn {
    display: inline-block;
    padding: 15px 50px;
    background-color: #092C76;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(16px, 2vw, 18px);
    transition: color .2s ease-in-out;
}

.btn:hover {
    background: linear-gradient(217deg, rgba(255, 211, 7, 0.8), rgba(255, 211, 7, 0) 50.71%),
                linear-gradient(127deg, rgba(24, 77, 189, 0.8), rgba(24, 77, 189, 0) 70.71%),
                linear-gradient(336deg, rgba(251, 115, 7, 0.8), rgba(251, 115, 7, 0) 70.71%);
    background-size: 200% 300%;
    color: #000;
    animation: 10s infinite granimate;
}

.breadcrumbs {
    position: absolute;
    bottom: 35px;
    display: flex;
    gap: 35px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #000;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

/* SECTION */
.section {
    width: 100%;
    padding: 115px 0;
}

.section-short {
    padding: 60px 0;
}

/* Section-Title */
.section_title {
    font-size: clamp(30px, 4vw, 48px);
    margin-bottom: 50px;
}

.title_center {
    text-align: center;
}

/* Section-Content */
.inner_section,
.table-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
}

.section_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section_item .btn {
    margin-top: 30px;
}

.section_content {
    max-width: 770px;
    text-align: justify;
}

/* Section-Gray */
.section_gray,
.second {
    background-color: #F6F6F6;
}

.section_gray .section_title {
    color: #29293A;
}

.section_gray .section_content {
    color: #5E5E63;
}

/* Section-Documents */
.btn_documents {
    color: #184DBD;
    font-weight: 700;
    text-decoration: none;
}

.section_gray .btn_documents {
    color: #3B66C3;
    font-weight: 700;
}

.btn_documents:hover {
    text-decoration: underline;
}

.btn_service {
    color: #000;
}

/* Stat */
.stats_section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", serif;
}

#orderStatusChart {
    width: 100%;
    height: auto;
}

.stat {
    max-width: 270px;
}

.number {
    font-size: clamp(24px, 3vw, 36px);
    font-weight: bold;
    color: #4007D1;
}
  
.description {
    margin-top: 10px;
}

/* NEW */
.new_item {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    gap: 30px;
}

.new_item img {
    width: 100%;
    max-width: 370px;
}

/* .new_content {
    margin: 30px 0;
} */

.new_title {
    margin-bottom: 10px;
}

.short_new_title {
    font-weight: 700;
}

.new_data {
    font-family: "Work Sans", serif;
    font-size: clamp(12px, 1.5vw, 14px);
    margin-bottom: 10px;
}

.new_data_section {
    margin-bottom: 50px;
}

.new_btn {
    margin-top: 30px;
}

/* MAP */
#map {
    width: 100%;
    height: 300px;
}

/* CARD */
.card_container {
    align-items: baseline;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    padding: 95px 30px 30px;
    margin-top: 75px;
    border: 2px solid #EFF2F4;
    border-radius: 10px;
    position: relative;
    background-color: #fff;
}

.card_person {
    width: 570px;
    padding: 115px 90px 90px;
    margin-top: 115px;
}

.card_person:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.card_person:hover .circle-person {
    background: linear-gradient(217deg, rgba(255, 211, 7, 0.8), rgba(255, 211, 7, 0) 50.71%),
                linear-gradient(127deg, rgba(24, 77, 189, 0.8), rgba(24, 77, 189, 0) 70.71%),
                linear-gradient(336deg, rgba(251, 115, 7, 0.8), rgba(251, 115, 7, 0) 70.71%);
    background-size: 150% 150%;
    color: #000;
    animation: 10s infinite granimate;
}

.card-circle {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #EFF2F4;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    overflow: hidden;
}

.circle-person {
    width: 230px;
    height: 230px;
    top: -115px;
    font-size: 80px;
}

.card-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card_title {
    font-size: clamp(18px, 2.5vw, 22px);
    font-weight: 700;
    text-align: center;
}

.card_person .card_title {
    margin: 30px 0;
}

.card_job {
    color: #5E5E63;
    text-align: center;
}

.card_text {
    text-align: justify;
}

.card_link {
    color: #000;
    text-decoration: none;
}

.service_title {
    margin-bottom: 20px;
}

.card_service {
    margin: 10px 0;
    color: #000;
    text-decoration: none;
}

.card_service:hover {
    text-decoration: underline;
}

/* TABLE */
.table-row {
    font-family: "Work Sans", serif;
    justify-content: space-between;
    padding: 20px 0;
}

.table-col-2 {
    width: 770px;
}

/* FOOTER */
.footer {
    width: 100%;
    padding: 60px 0;
    background-color: #092C76;
    color: #fff;
    font-family: "Work Sans", serif;
}

.inner_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.33333%;
    max-width: 370px;
}

.footer_images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.footer_title {
    font-size: clamp(18px, 2.5vw, 22px);
    margin: 15px 0;
}

.schedule {
    margin-top: 0;
}

.footer_copyright {
    padding:30px 0 0 0;
    text-align:center;
    color:#FFA965;
}